# Robert Wiliams IS 362 Week 3 Project 1

In [1]:
pwd

'/Users/bobby/Desktop/Robert IS362 Project 1'

Using pwd to local the CVS file

In [2]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
flightinfo = pd.read_csv('/Users/bobby/Desktop/Robert IS362 Project 1/flightinfo.csv')

Adding CVS file to the code

In [3]:
flightinfo.head()

     ArrivalCity  AlaskaOnTime  AlaskaDelayed  AMWestOnTime  AMWestDelayed
0    Los Angeles           497             62           694            117
1        Phoenix           221             12          4840            415
2      San Diego           212             20           383             65
3  San Francisco           503            102           320            129
4        Seattle          1841            305           201             61

all the DATA of the cvs imported

Adding two more columns to cvs file that will provide a total of flights to each city from each airline.

"AlaskaTotal" is first

In [ ]:
flightinfo.insert(3, 'AlaskaTotal', flightinfo.AlaskaOnTime + flightinfo.AlaskaDelayed)


The next is"AMWestTotal".

In [ ]:
flightinfo.insert(6, 'AMWestTotal', flightinfo.AMWestOnTime + flightinfo.AMWestDelayed)

 New tablet with the add columns

In [26]:
flightinfo

,ArrivalCity,AlaskaOnTime,AlaskaDelayed,AlaskaTotal,AMWestOnTime,AMWestDelayed,AMWestTotal
0,Los Angeles,497,62,559,694,117,811
1,Phoenix,221,12,233,4840,415,5255
2,San Diego,212,20,232,383,65,448
3,San Francisco,503,102,605,320,129,449
4,Seattle,1841,305,2146,201,61,262

Maaking new two new columns to add the delay Percentages

First is "AlaskaPercentage"

In [28]:
flightinfo.insert(4, 'AlaskaPercentage', (flightinfo.AlaskaDelayed / flightinfo.AlaskaTotal) * 100)

Second is "AMWestPercentage".

In [29]:
flightinfo.insert(8, 'AMWestPercentage', (flightinfo.AMWestDelayed / flightinfo.AMWestTotal) * 100)

Here are the new calculations off the two added columns

In [33]:
flightinfo

,ArrivalCity,AlaskaOnTime,AlaskaDelayed,AlaskaTotal,AlaskaPercentage,AMWestOnTime,AMWestDelayed,AMWestTotal,AMWestPercentage
0,Los Angeles,497,62,559,11.09,694,117,811,14.43
1,Phoenix,221,12,233,5.15,4840,415,5255,7.90
2,San Diego,212,20,232,8.62,383,65,448,14.51
3,San Francisco,503,102,605,16.86,320,129,449,28.73
4,Seattle,1841,305,2146,14.21,201,61,262,23.28


Making a small table use to show the delay percentages of Alaska and AM West to make my Conclusion

In [32]:
delayrates = flightinfo[['ArrivalCity', 'AlaskaPercentage', 'AMWestPercentage']]
delayrates

     ArrivalCity  AlaskaPercentage  AMWestPercentage
0    Los Angeles             11.09             14.43
1        Phoenix              5.15              7.90
2      San Diego              8.62             14.51
3  San Francisco             16.86             28.73
4        Seattle             14.21             23.28

 Conclusion AM West Airlines has a higher percentage than Alaska Airlines of arrival delays When comparing the two.