## Robert Williams Week 5 Assignment
## IS362

1. What is the northernmost airport in the United States?
2. What is the easternmost airport in the United States?
3. On February 12th, 2013, which New York area airport had the windiest weather?

In order to run the code import pandas most be install to answer the three questions.

In [11]:
import pandas as pd

importing airport CVS file

In [15]:
airports = pd.read_csv("https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv", 
                       na_values=["\\N"])

### What is the northernmost airport in the United States?

generating a list of the five northernmost U.S. Airports

In [13]:
airports = airports.dropna(how='any')
airports.sort_values("lat", ascending = False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
1363,UUK,Ugnu-Kuparuk Airport,70.330833,-149.597500,67,-9,A,America/Anchorage

according to <a href="https://en.wikipedia.org/wiki/Wiley_Post%E2%80%93Will_Rogers_Memorial_Airport">Wiki</a> Wiley Post-Will Rogers Memorial Airport is in Alaska making it the Northern Most Airport.

### 2. What is the easternmost airport in the United States?

generating a list of the five eastermost U.S. Airports by longitude.

In [16]:
airports.sort_values("lon", ascending = False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

According <a href="https://www.google.com/maps/place/Maine/@45.1003241,-73.4774871,6z/data=!3m1!4b1!4m5!3m4!1s0x4cb01dde1d538ad5:0xd679cc6f6720a8d0!8m2!3d45.253783!4d-69.4454689">google maps</a> Eastport Municipal Airport is the most eastern airport becuase its local in the eastermost State and Thats Maine

### 3. On February 12th, 2013, which New York area airport had the windiest weather?

For question three importing cvs data for weather

In [18]:
import pandas as pd
weather = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv')

cvs data will be sort for wind_speed and wind_gust to asnwer question three

In [20]:
weather[(weather['year'] == 2013)&(weather['month'] == 2)& (weather['day'] == 12)&
        (weather.wind_gust < 500)].sort_values(by = ['wind_gust'], ascending=False).head(5)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
1019,EWR,2013,2,12,13,46.04,26.06,45.33,280.0,13.80936,31.07106,0.0,1012.3,10.0,2013-02-12T18:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
18421,LGA,2013,2,12,6,42.08,24.08,48.56,270.0,13.80936,28.76950,0.0,1009.4,10.0,2013-02-12T11:00:00Z
18418,LGA,2013,2,12,3,42.08,26.06,52.73,290.0,16.11092,28.76950,0.0,1007.9,10.0,2013-02-12T08:00:00Z

Can't find information on the windiest airport on February 12th, 2013. But here information about JFK and weather patterns in the weather. Making winter one of the worst times to JFK link  <a href="https://weatherspark.com/y/147186/Average-Weather-at-John-F.-Kennedy-International-Airport-New-York-United-States-Year-Round">Weather</a>